language: python
before_install:
- pip install codecov
after_success:
- codecov

install:
- pip install 'tox<2'
script:
- tox
deploy:
  provider: pypi
  user: lad1337
  password:
    secure: LPJO46A8DeoNPbFlIyloHY52RqsATYmcrhCaK9E/Pur1R/aabW8Jp2NhwoYQlC3eUSNzNe9WMi/0S8DOc0on3Po6FaKblcOxa7NTsNLjr8I3eCDGD1ViQB0riWotz94WdFyY5bYGo4KAE/hKi84tWf8kkKoesEUh3AHaz4A2ubjPjJOHbNy3O4SCtwpnbmKZvBBxdt2KvMxkzPpnap+2Zll+owe2R6BXwcJUZQGOOYWvLWkTU+eJAq+IIPLF6xmJ09pqGv7nHyBPwX9fQw8VzQCAneDh2m3VbFYQfGlwwmMl7hBogYPr5ZgGUX8MPAwmXy5NV5Gy8aVLKyBuOvx+mlr+v94AMPQHrv8E6OyPUUZDnkXj4VBZywarzJymmem8Xr3rPiCMCTtbp/hp2OAZBKwrYdXPTlh/XSRzSoU87ydeH69fC8A4NJMX12xXgdX0D3OPcVC34ewBq1ZoHHLZuPxaPNOBmuTQkYdF0PfCcMiyDF/n/RI+N9quJWd7dvy48qeaNPOw0r2uFPPCho/UyleIjbUQiJ4L50M9R0aYN/P0myIJGZD9UxNcFQdysV5TDuuOiFfonAA/8eVS3LMv1xrLIrzdkLb9nKIpCcb+5ysrGXJQhvdQe8Xx2KQ3d11Ckn0HOCBMs/QDSrBrTqpQ7KdOe/SjrPBIJ3srUZYiqA8=
  on:
    branch: master
    tags: true
    repo: lad1337/easytrakt
